@import './src/app/core/theme.scss';

.wrapper {
  margin-top: 20px;

  table {
    .column-isChecked {
      width: 60px;

      input[type="checkbox"] {
        appearance: auto;
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }

    .column-id {
      width: 80px;
    }

    .column-name {
      width: 40%;
    }

    .column-actions {
      width: 110px;

      .td-content {
        gap: 16px;
      }

      .action-element {
        &-icon {
          &:hover {
            color: map-get($theme, 'colors', 'secondary') !important;
          }
        }
      }
    }

    .empty-list {
      padding-top: 40px;
    }

    td.is-checked{
      text-decoration: line-through;
    }
  }
}
