<div class="wrapper">
  <app-responsive-table-container>
    <table class="table-striped">
      <thead>
        <tr>
          <th class="text-center">{{ tableSettings.actions?.title }}</th>
          <th class="text-center column-isChecked">
            <fa-icon [icon]="['fas', 'check']" [class]="tableSettings.actions?.styles?.iconClass" />
          </th>
          <th *ngFor="let setting of tableSettings.columns" [class]="setting.classes ?? ''">
            {{ setting.title }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="data?.length === 0; else columnLines">
          <td [attr.colspan]="tableSettings.columns.length + 1" class="text-center empty-list">Nenhum registro encontrado =(</td>
        </tr>
        <ng-template #columnLines>
          <tr *ngFor="let item of data">
            <td class="text-center column-actions">
              <div class="td-content flex-center">
                <a routerLink="{{ item.id }}" title="Editar" [class]="tableSettings.actions?.styles?.actionClass">
                  <fa-icon [icon]="['far', 'pen-to-square']" [size]="tableSettings.actions?.styles?.sizeIcon" [class]="tableSettings.actions?.styles?.iconClass" />
                </a>
                <button type="button" (click)="handleDeleteEvent(item.id)" title="Excluir" [class]="tableSettings.actions?.styles?.actionClass">
                  <fa-icon [icon]="['far', 'trash-can']" [size]="tableSettings.actions?.styles?.sizeIcon" [class]="tableSettings.actions?.styles?.iconClass" />
                </button>
              </div>
            </td>
            <td class="column-isChecked">
              <div class="td-content flex-center">
                <input type="checkbox" name="isChecked" [checked]="item.isChecked" (change)="handleCheckEvent(item)" />
              </div>
            </td>
            <td *ngFor="let setting of tableSettings.columns" [class]="setting.classes ?? ''" [class.is-checked]="item.isChecked">
              {{ item?.[setting.id] | displayValue:'-' }}
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </app-responsive-table-container>
</div>
